<!DOCTYPE html>
<html>
<head>
	<title> Pcap file list and create </title>
</head>
<body>

<ul>
	{% for file in file_pcap_list %}
	<li> <a href="/{{ file.id }}">{{ file.name }} </a> <span> {{ file.upload.url }} </span> </li>
	{% endfor %}

</ul>
<form action="/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
</body>
</html>